.introducao{
    text-align: center;
    padding: 6rem 0;
}

.introducao-textinho{
    font-weight: 600;
    color: var(--vermelho-terciario);
}

.introducao-titulo{
    font-size: 48px;
    font-weight: 600;
    color: var(--preto-secundario);
    margin: 2.25rem 0;
}

.introducao-paragrafo{
    font-size: 20px;
    font-weight: 400;
    padding: 0 23rem;
}



